# NestJS API Port
PORT=3000

# Base de Datos (PostgreSQL)
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=rdns_db
DB_PORT=5432

# URL de conexión para Prisma (usar localhost cuando se corre NestJS fuera de Docker, o postgres cuando corre dentro)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/rdns_db?schema=public"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# MQTT (Mosquitto)
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_WS_PORT=9001
MQTT_ENABLED=true

# GeoIP (MaxMind GeoLite2-City database path inside container/host)
GEOIP_DB_PATH="/usr/src/app/src/geoip/GeoLite2-City.mmdb"

# Auth
JWT_SECRET="super_secreto_key_radio_dns_123"
ADMIN_USER=admin
ADMIN_PASSWORD=adminpassword

# Mapeos de Bearer para AzuraCast
BEARER_harold_moreno="fm:2a3.2016.10540"
BEARER_el_sol="fm:2a3.2016.10540"
